html {
    background-color: rgb(148, 207, 255);
    overflow: scroll;
}

.tropical {
    max-width: 100%;
}

.www {
    text-align: center;
    font-size: 130px;
    font-family: Brush Script MT;
    margin-top: 5px;
    margin-bottom: 70px;
}

.welcome {
    text-align: center;
    font-size: 500%;
    font-family: Brush Script MT;
    margin-top: 5px;
}

nav {
    text-align: center;
    margin-top: -75px;
    font-family: Brush Script Std;
    font-size: 20px;
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration-line: none;
}

a:hover {
    color:rgb(6, 103, 240);
    text-decoration-line: underline ;
}

.hiBox {
    height: 45%;
    width: 40%;
    background-color:rgb(226, 236, 246);
    float: right;
    transform: translate(-25%);
    
}

.weny {
    float: left;
    width: 40%;
    height: 45%;
    transform: translate(25%);
}

.imweny {
    transform: translate(10%, 10%);
    font-family: Geneva;
    font-size: 500%;
    color:rgb(56, 117, 238);
    margin: 25px;
}
.imweny:hover {
    text-decoration-line: underline ;
}

.whoami {
    text-align: right;
    font-family: Segoe UI;
    font-size: 150%;
    margin: 25px -25px;
    width: 100%;
}

.beliefs{
    clear: both;
    font-size: large;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: auto 10% ;
}

.bottom {
    background-color: rgba(248, 250, 253, 0.804);
    width: 100%;
    height: 10%;
}

/* Future ---------------------------------------------------------- */

.high {
    width: 325px;
    height: 163px;
    background-color: rgba(245, 94, 94, 0.8);
    padding: 3px 25px;
    margin-bottom: 15px;
    position: relative;
    right: -35%;
    font-weight: 200%;

}

.college {
    width: 325px;
    height: 163px;
    background-color: rgba(240, 138, 22, 0.8);
    padding: 3px 25px;
    margin-bottom: 15px;
    position: relative;
    right: -35%;
}

.realWorld {
    width: 325px;
    height: 170px;
    background-color: rgba(249, 245, 126, 0.8);
    padding: 3px 25px;
    margin-bottom: 15px;
    position: relative;
    right: -35%;
}

.midLife {
    width: 325px;
    height: 170px;
    background-color: rgba(10, 216, 82, 0.7);
    padding: 3px 25px;
    margin-bottom: 15px;
    position: relative;
    right: -35%;
}

.retirement {
    width: 325px;
    height: 170px;
    background-color: rgba(61, 96, 249, 0.7);
    padding: 3px 25px;
    margin-bottom: 15px;
    position: relative;
    right: -35%;
}

.highbg {
    background: url(high.jpg);
    max-width: 100%;
    max-height: 100%;

}

.collegebg {
    background: url(college.jpg);
    max-width: 100%;
    max-height: 100%;

}

.realWorldbg {
    background: url(realLife.jpg);
    max-width: 100%;
    max-height: 100%;
}

.midLifebg {
    background: url(lake.jpg);
    max-width: 100%;
    max-height: 100%;

}

.retirementbg {
    background: url(galaxy.jpg);
    box-shadow: 0 0 99px rgba(218, 66, 235, 0.8);
    max-width: 100%;
    max-height: 100%;
}

.twitter{
    vertical-align: .05in;
    position: relative;
    left:-10px;
} 

.socials {
    text-align: center;
    position: relative;
   
}


/* contact ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.form {
    float: right;
    margin: 1% 1% 1% 3%;
    padding-right: 25%;
    align-items: center;
    transform: translate(-10%);
    position: relative;
}

.wenyContact {
    border-radius: 50%;
    float: left;
    height: 40%;
    width: 30%;
    margin: 1% 5% 1% 5%;
    position: relative;
    transform: translate(30%);
}

.messageBox {
    height:100px; 
    width:200%;

}

.entireRes {
    transform: translate(30%);
}

.wenyResume {
    border-radius: 50%;
    height: 30%;
    width: 20%;
    display: block;
    margin: auto;
}